@import url(PretendardDynamicSubset.css);

* {
    font-family: Pretendard;
}

html, body {
    padding: 0;
    margin: 0;

    height: 100%;
}

#App {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    height: 100%;
}

.bg {
    width: 100%;
    height: 100%;

    position: absolute;

    top: 0;
    left: 0;

    display: none;
    background-color: rgba(0, 0, 0, 0.1);

    animation: fadeInFromNone 0.1s ease-out;

}

.header {
    display: flex;
    justify-content: space-between;

    padding: 14px;
    font-size: 1rem;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: white;

    border-bottom: 1px lightgray solid;

    user-select: none;
    font-weight: bold;

    /* box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%); */
}

.lead {
    color: cornflowerblue;
}

.title {
    font-weight: bold;
}

.end {
    color: cornflowerblue;
    /* font-weight: bold; */

}

.Inputs {
    margin-top: 12px;
    margin-bottom: 12px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 12px;
}

.myinput {
    /* z-index: 100; */
}

.inputline {
    display: flex;
    justify-content: space-evenly;
}

.select {

    z-index: 100;

    background-color: white;
    border: 1px lightgray solid;
    border-radius: 3px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 8rem;
    /* padding: 6px; */

    padding-left: 6px;
    padding-right: 6px;

    /* cursor: pointer; */
}

.select-text {
    user-select: none;
    
    padding: 8px;
    
    /* background-color: lightcoral; */
}

.select-arrow {
    user-select: none;
    transition: 0.1s linear;

    /* background-color: brown; */
}

.arrow-up {
    transition: 0.1s linear;
    transform: rotate(180deg);
}

.options {
    z-index: 100;

    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;

    margin-left: 1px;
    
    display: none;
    position: absolute;
    background-color: aliceblue;

    animation: fadeInFromNone 0.5s ease-out;
}

.option {
    background-color: white;
    width: 8rem;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;

    user-select: none;

    border-top: 1px lightgray solid;
}

.option:hover {
    background-color: lightgray;
}


@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.body {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.circular {
    display: flex;

    justify-content: center;
    align-items: center;

    

}

.circle {
    border: 1px lightgray solid;

    aspect-ratio: 1 / 1;

    border-radius: 100%;

    width: 80%;

    position: relative;
    overflow: hidden;
}


.bottomNav {
    display: flex;
    justify-content: space-around;

    background-color: lightgray;

    padding: 16px;
}